/* --- FONTE --- */

h1{
    font-size:126px;
    font-weight: 900;
    line-height: 112px;
    margin: 0 0 30px 0;
    color: #000000;
}
h2{
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    margin: 0 0 20px 0; /*autura e largura sentido horario*/
    color: #000000;
}
h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    color: #9E8C6C;
    margin: 0 0 10px 0;  /*autura e largura*/ 
}
h4{
    font-size: 66px;
    line-height: 82px;
    font-weight: 900;
    text-align: center;
}
h5{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
}
p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #333;
}
li{
    color: #000000;
    line-height: 34px;
    font-size: 20px;
    font-weight: 400
}
/*-----FONTE-----*/
/* --- DEFAULT --- */
.botao{
    padding: 18px 62px;
    background-color: #0699A6;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase; /* Caixa alta */
    color: #fff;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul{
   list-style: none;
   padding-left: 0;   
}
ul li{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

ul li a{
    font-weight: 600;
    color: #0699A6;
    text-decoration: none;
}
/*-----DEFAUTE-----*/

/* ----- HEADER----- */
#header{
    width: 100%;
    padding: 180px 0 209px 0;
    background-color: #9e8c6c11;
    
}
.perfil{
    width: 350px;
}

.perfil img{
    width: 100%;
    border-radius: 100%;
}

.perfil-sobre{
    max-width: 635px;
    
}
.sobre{
    width: 740px;         /*verificar esse valor*/
    
}
/*-----HEADER-----*/

/*------Main------*/
.skillset,
.awards,
.careertraints,
.recentworks{
    margin-bottom: 100px;
    width: 350px; 
}
#main{
    padding-top: 96px;
    
}

#main .container{
    display: flex;
}

#main .container a{
    color: #0699a6;
    line-height: 34px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;  
}

.sobre{
    font-size: 20px;
    line-height: 34px;
    max-width: 635px;
    line-height: 24px;      
}
.titleinfo{
    line-height: 24px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.barra{
    width: 71px;
    height: 10px;
    background-color: #0699a6;
   }
   
.skills{
    padding-right: 125px;
    max-width: 635px;
}


.info{  
    font-weight: 400;
    font-size: 20px;    
    line-height: 34px;                   /*Preciso declarar de forma correta ATENÇÃO*/
    margin-bottom: 66px;
}

/*-----MAIN-----*/

/*-----footer-----*/
#footer{
    background-color: #9e8c6c11;
    width: 100%;
    height: 547px;
}

#footer .container{
    flex-direction: column;
    align-items: center;
}

#footer .container a{
    color: #0699a6;
    line-height: 46px;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
   }
   
   .social{
    display: flex;
    width: 243px;
    justify-content: space-between;
   }
   /*-----FOOTER-----*/
 
/*-----TABLET-----*/
@media screen and (max-width: 768px) {
    h1{
        font-size: 56px;
        line-height: 46px;
    }

    #header{
        padding: 80px 0 130px 0;
    }

    #header .container{           /*aqui funciona apenas nesse bloco*/
        flex-direction: column;
        align-items: center;
    }

    .perfil{
        width: 160px;
        margin-bottom: 40px; 
    }

    .perfil-sobre{               /*esse comando completo é para estilizar o texto do nome*/
        flex-direction: column;
        align-items: center;
        display: flex;
        text-align: center;
    } 

    h4{
        font-size: 40px;
        line-height: 50px;
    }

    #footer .container a{
        font-size: 20px;
        line-height: 36px;
    }
     
    .skills ul li{
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }

    .skills{
        max-width: 375px;
    }

    .careertraints{
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
    }
    h5{
        font-size: 18px;
        line-height: 24px;  
        display: flex;      
    }    
    .barra{
        width: 71px;
        height: 10px;
        background-color: #0699a6;
       }
       .sobre{
        max-width: 375px;
       }
       #main .container{
        flex-direction: column-reverse;
       }
       .titleinfo{
        flex-direction: column;
       }
}
    

    
