/*---FONTE---*/
H1{
   font-size: 126PX;
   font-weight: 900;
   line-height: 112PX;
}
H2{
    font-size: 36PX;
    line-height: 46PX;
    font-weight: 900;
}
H3{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #9E8C6C;
    letter-spacing: 2px;
}
P{
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  color: #333;
}
/*-----Fonte-----*/

/*-----DEFALT-----*/

.botao{
   padding: 15px 20px; 
   width: 91.09px;
   height: 24.90px;
   margin-top: 193.52;
   margin-left: 259.11px;
   font-size: 7.29px;
   line-height: 9.72px;
   font-weight: 900;
   letter-spacing: 0.81px;
   text-align: center;
   background-color: #0699A6;
   color: white;
   text-decoration: none; 
}
.perfil img{
    width: 350px;
    height: 350px;
    border-radius: 100%;  /*arredondar a foto*/
}
